@section topCSS {
    <link href="~/Content/CartPage/CreateOrder.css"  rel="stylesheet" />
}

<div class="container">
    <div class="complete-hint">
        <img src="~/Assets/Images/CartPage/check.png" />
        <h1>恭喜! 訂單已提交完成</h1>
        <p>之後可以至會員中心，透過以下訂單編號確認訂單情況</p>
    </div>
    
    <div class="order-number">
        <p>#@ViewData["orderId"]</p>
    </div>
</div>