/* public */
* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin-top: 20px;
}

.hidden{
    display: none;
}

/* button-group */
#btn-group-container .btn-checked {
    color: #fff;
    background-color: #008A84;
}

.btn-group{
    width: 100%;
    display: flex;
    justify-content: center;
}

#btn-group-container button {
    width: 15%;
    background-color: #fff;
    font-weight: 700;
    border: 2px solid #008A84;
    color: #008A84;
    outline: none;
}

/* card-group */
.card-group{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}

/* card */
.card-wrap{
    width: 30%;
    padding: 5px;
}

.card{
    box-shadow: 0 5px 5px 0 #aaa;
}   

.card-title{
    display: flex;
    justify-content: space-between;
}

.order-status{
    margin-top: 5px;
}

.shipping {
    color: #008A84;
    font-weight: bold;
} /* 還會有其他狀態*/

.detail-show{
    color: blue;
    text-align: center;
}

.detail-hide {
    color: blue;
    text-align: center;
}

.order-date-group {
    color: #aaa;
    font-size: 14px;
}

.order-other-info ul{
    line-height: 40px;
    margin-left: 20px;
}

.order-other-info li{
    list-style-type: disc;
}

/* order-item */
.order-item{
    display: flex;
    justify-content: space-between;
}

.order-item img{
    width: 50%;
}

.order-item p{
    margin-top: 15px;
}

.qrcode{
    text-align: center;
}

.qrcode img{
    width: 50%;
}