@model NikoMealBox.Models.DataTable.Products
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>

    <script src="../Scripts/jquery-3.4.1.min.js"></script>
    <!-- Vue  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>

    @*<style>
            #urlText {
                margin-top: 15px;
                margin-bottom: 15px;
            }

            #result {
                display: none;
                border: 5px dashed black;
            }

            #urlText, #result {
                font-size: 20px;
            }
        </style>*@
</head>
<body>
    @*<div class="container">*@

    <!--<button class="btn btn-success" id="post">以jQuery.post()呼叫遠端API</button>
    <button class="btn btn-warning" id="get">以jQuery.get()呼叫遠端API</button>
    <button class="btn btn-info" id="getJSON">以jQuery.getJSON()呼叫遠端API</button>-->
    <!--<button class="btn btn-danger" id="reset">Reset</button>
    <div id="urlText" class="alert alert-info"></div>
    <div id="result" class="alert alert-danger"></div>-->

    <div id="layoutSidenav_content">
        <main>
            @*<div class="jumbotron alert-success">
                    <h3>api測試</h3>
                </div>*@
            <div class="container-fluid mt-4">
                <div class="row justify-content-between">
                    <h3 class=" mx-2 pl-3">產品資料</h3>
                    <button class=" btn btn-success mr-3" id="AddProduct" data-toggle="modal" data-target="#AddModal">+</button> @*onclick="selectProd()*@
                </div>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table mr-1"></i>
                        產品資料
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table-bordered" id="dataTable" width="200%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        @*<th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>*@
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        @*<td>{{product.CreateUser}}</td>*@
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <!-- ADDModal -->
    <div class="modal fade" id="AddModal" tabindex="-1" aria-labelledby="AddModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form id="AddForm" method="post" onsubmit="return false" enctype="multipart/form-data">
               @*action="/api/Product/AddProduct">*@
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="AddModalLabel">新增產品資料</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-row align-items-center">
                            <div class="col-sm-8 my-1 form-group">
                                <label for="prodName">產品名稱</label>
                                <input type="text" name="ProductName" id="prodName" class="form-control productName"><!--加form-control 樣式 可以拿掉看原本樣子-->
                            </div>
                            <div class="col-sm-4 my-1 form-group">
                                <label for="CtgyId">種類Id</label>
                                <select class="form-control categoryId" name="CategoryId" id="CtgyId">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                </select>
                            </div>
                            <div class="col-sm-6 my-1 form-group">
                                <label for="price">產品單價</label>
                                <input type="text" name="UnitPrice" id="price" class="form-control unitPrice"><!--加form-control 樣式 可以拿掉看原本樣子-->
                            </div>
                            <div class="col-sm-6 my-1 form-group">
                                <label for="stock">產品庫存</label>
                                <input type="text" name="UnitsInStock" id="stock" class="form-control InStock"><!--加form-control 樣式 可以拿掉看原本樣子-->
                            </div>
                            <div class="col-sm-6 my-1 form-group">
                                <label for="desc">產品簡述</label>
                                <textarea class="form-control description" name="Description" rows="3" id="desc"></textarea>
                            </div>
                            <div class="col-sm-6 my-1 form-group">
                                <label for="Ingredients">產品材料</label>
                                <textarea class="form-control materials" name="Materials" id="Ingredients" rows="3"></textarea>
                            </div>
                            <div class="col-sm-3 my-1">
                                <label for="Calories">熱量</label>
                                <input type="text" name="Calories" id="Calories" class="form-control calories" placeholder="請輸入熱量">
                            </div>
                            <div class="col-sm-3 my-1">
                                <label for="Carbohydrate">碳水化合物</label>
                                <input type="text" name="Carbohydrate" id="Carbohydrate" class="form-control carbohydrate" placeholder="">
                            </div>
                            <div class="col-sm-3 my-1">
                                <label for="Protein">蛋白質</label>
                                <input type="text" name="Protein" id="Protein" class="form-control protein" placeholder="">
                            </div>
                            <div class="col-sm-3 my-1">
                                <label for="Fat">脂肪</label>
                                <input type="text" name="Fat" id="Fat" class="form-control fat" placeholder="">
                            </div>
                            <div class="col-sm-3 my-1">
                                <label for="SaturatedFat">飽和脂肪</label>
                                <input type="text" name="SaturatedFat" id="SaturatedFat" class="form-control saturatedFat" placeholder="">
                            </div>
                            <div class="col-sm-3 my-1">
                                <label for="TransFat">反式脂肪</label>
                                <input type="text" name="TransFat" id="TransFat" class="form-control transFat" placeholder="">
                            </div>
                            <div class="col-sm-3 my-1">
                                <label for="Sugar">糖</label>
                                <input type="text" name="Sugar" id="Sugar" class="form-control sugar" placeholder="">
                            </div>
                            <div class="col-sm-3 my-1">
                                <label for="Sodium">鈉</label>
                                <input type="text" name="Sodium" id="Sodium" class="form-control sodium" placeholder="">
                            </div>
                            <div class="col-sm-9 my-1">
                                <label for="ImagePath">產品圖片路徑</label>
                                <input type="file" class="form-control imagePath" name="ImagePath" id="ImagePath" accept="image/*" placeholder="">
                            </div>
                            <div class="col-sm-3 my-1">
                                <label for="EreviewImage">預覽圖片</label>
                                <img src="" id="PreviewImage" width="100%" class="ImgPreview" name="pic" />
                            </div>

                            <div class="col-sm-3 my-1 form-group">
                                <label for="CtgyId">蛋奶素</label>
                                <select class="form-control isOvolacto" name="IsOvolacto" id="IsOvolacto">
                                    <option value="true">是</option>
                                    <option value="false">否</option>
                                </select>
                            </div>

                            <div class="col-sm-5 my-1 form-group">
                                <label for="CtgyId">產品/種類是否還有提供</label>
                                <select class="form-control isEnable" name="isEnable" id="IsEnable">
                                    <option value="true">是</option>
                                    <option value="false">否</option>
                                </select>
                            </div>
                            <div class="col-sm-4 my-1 form-group">
                                <label for="CtgyId">產品/種類是否刪除</label>
                                <select class="form-control isDelete" name="isDelete" id="IsDelete">
                                    <option value="true">是</option>
                                    <option value="false">否</option>
                                </select>
                            </div>
                            <div class="col-sm-4 my-1">
                                <label for="CreateUser"> 資料建立者</label>
                                <input type="text" name="CreateUser" id="CreateUser" class="form-control createUser" placeholder="">
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                        <button type="submit" class="btn btn-primary" data-dismiss="modal" id="AddBtn">建立</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- EditModal -->
    <div class="modal fade" id="EditModal" tabindex="-1" aria-labelledby="EditModalLabel" aria-hidden="true">
        <div class="modal-dialog" id="EditProduct">
            <form method="post" id="EditForm" onsubmit="return false" enctype="multipart/form-data">
                @*/api/Product/AddProduct  action="/api/Product/Edit"*@
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="EditModalLabel">編輯產品資料</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-row align-items-center">
                            <div class="col-sm-2 my-1 form-group">
                                <label for="EdprodId">產品Id</label>
                                @*<p name="Id" id="EdprodId" class=" prodId" v-model="product.Id">{{product.Id}}</p>*@
                                <input type="text" name="Id" id="EdprodId" class="form-control prodId" readonly v-model="product.Id"><!--加form-control 樣式 可以拿掉看原本樣子-->
                            </div>
                            <div class="col-sm-8 my-1 form-group">
                                <label for="EdprodName">產品名稱</label>
                                <input type="text" name="ProductName" id="EdprodName" class="form-control productName" v-model="product.ProductName"><!--加form-control 樣式 可以拿掉看原本樣子-->
                            </div>
                            <div class="col-sm-2 my-1 form-group">
                                <label for="EdCtgyId">種類Id</label>
                                <select class="form-control categoryId" name="CategoryId" id="EdCtgyId" v-model="product.CategoryId">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                </select>
                            </div>
                            <div class="col-sm-6 my-1 form-group">
                                <label for="Edprice">產品單價</label>
                                <input type="text" name="UnitPrice" id="Edprice" class="form-control unitPrice" v-model="product.UnitPrice"><!--加form-control 樣式 可以拿掉看原本樣子-->
                            </div>
                            <div class="col-sm-6 my-1 form-group">
                                <label for="Edstock">產品庫存</label>
                                <input type="text" name="UnitsInStock" id="Edstock" class="form-control InStock" v-model="product.UnitsInStock"><!--加form-control 樣式 可以拿掉看原本樣子-->
                            </div>
                            <div class="col-sm-6 my-1 form-group">
                                <label for="Eddesc">產品簡述</label>
                                <textarea class="form-control description" name="Description" rows="3" id="Eddesc" v-model="product.Description"></textarea>
                            </div>
                            <div class="col-sm-6 my-1 form-group">
                                <label for="EdIngredients">產品材料</label>
                                <textarea class="form-control materials" name="Materials" id="EdIngredients" rows="3" v-model="product.Materials"></textarea>
                            </div>
                            <div class="col-sm-3 my-1">
                                <label for="EdCalories">熱量</label>
                                <input type="text" name="Calories" id="EdCalories" class="form-control calories" placeholder="請輸入熱量" v-model="product.Calories">
                            </div>
                            <div class="col-sm-3 my-1">
                                <label for="EdCarbohydrate">碳水化合物</label>
                                <input type="text" name="Carbohydrate" id="EdCarbohydrate" class="form-control carbohydrate" placeholder="" v-model="product.Carbohydrate">
                            </div>
                            <div class="col-sm-3 my-1">
                                <label for="EdProtein">蛋白質</label>
                                <input type="text" name="Protein" id="EdProtein" class="form-control protein" placeholder="" v-model="product.Protein">
                            </div>
                            <div class="col-sm-3 my-1">
                                <label for="EdFat">脂肪</label>
                                <input type="text" name="Fat" id="EdFat" class="form-control fat" placeholder="" v-model="product.Fat">
                            </div>
                            <div class="col-sm-3 my-1">
                                <label for="EdSaturatedFat">飽和脂肪</label>
                                <input type="text" name="SaturatedFat" id="EdSaturatedFat" class="form-control saturatedFat" placeholder="" v-model="product.SaturatedFat">
                            </div>
                            <div class="col-sm-3 my-1">
                                <label for="EdTransFat">反式脂肪</label>
                                <input type="text" name="TransFat" id="EdTransFat" class="form-control transFat" placeholder="" v-model="product.TransFat">
                            </div>
                            <div class="col-sm-3 my-1">
                                <label for="EdSugar">糖</label>
                                <input type="text" name="Sugar" id="EdSugar" class="form-control sugar" placeholder="" v-model="product.Sugar">
                            </div>
                            <div class="col-sm-3 my-1">
                                <label for="EdSodium">鈉</label>
                                <input type="text" name="Sodium" id="EdSodium" class="form-control sodium" placeholder="" v-model="product.Sodium">
                            </div>
                           @**<div class="col-12 my-1">
                                <label for="EdImagePath">產品圖片路徑</label>
                                <input type="file" class="form-control imagePath" name="ImagePath" id="EdImagePath" placeholder="">
                            </div>*@
                            <div class="col-sm-9 my-1">
                                <label for="EdImagePath">產品圖片路徑</label>
                                <input type="file" class="form-control EdimagePath" name="ImagePath" id="EdImagePath" placeholder="">@*v-model="product.ImagePath"*@
                            </div>
                            <div class="col-sm-3 my-1">
                                <label for="EdPreviewImage">預覽圖片</label>
                                <img  v-bind:src="product.ImagePath" id="EdPreviewImage" class="ImgPreview" width="100%" name="pic" />
                            </div>
                            <div class="col-sm-3 my-1 form-group">
                                <label for="EdIsOvolacto">蛋奶素</label>
                                <select class="form-control isOvolacto" name="IsOvolacto" id="EdIsOvolacto" v-model="product.IsOvolacto">
                                    <option value="true">是</option>
                                    <option value="false">否</option>
                                </select>
                            </div>
                            <div class="col-sm-5 my-1 form-group">
                                <label for="EdIsEnable">產品/種類是否還有提供</label>
                                <select class="form-control isEnable" name="isEnable" id="EdIsEnable" v-model="product.IsEnable">
                                    <option value="true">是</option>
                                    <option value="false">否</option>
                                </select>
                            </div>
                            <div class="col-sm-4 my-1 form-group">
                                <label for="EdIsDelete">產品/種類是否刪除</label>
                                <select class="form-control isDelete" name="isDelete" id="EdIsDelete" v-model="product.IsDelete">
                                    <option value="true">是</option>
                                    <option value="false">否</option>
                                </select>
                            </div>
                            <div class="col-sm-6 my-1">
                                <label for="EdCreateUser"> 資料建立者</label>
                                <input type="text" name="CreateUser" id="EdCreateUser" class="form-control createUser" placeholder="" readonly v-model="product.CreateUser">
                            </div>
                            <div class="col-sm-6 my-1">
                                <label for="EdcreateTime"> 資料建立時間</label>
                                <input type="text" name="CreateTime" id="EdcreateTime" class="form-control createTime" placeholder="" readonly v-model="product.CreateTime">
                            </div>
                            <div class="col-sm-6 my-1">
                                <label for="EditUser"> 資料編輯者</label>
                                <input type="text" name="EditUser" id="EditUser" class="form-control EditUser" placeholder="" v-model="product.EditUser">
                            </div>
                            <div class="col-sm-6 my-1">
                                <label for="EditTime"> 資料編輯時間</label>
                                <input type="text" name="EditUser" id="EditTime" class="form-control EditTime" placeholder="" readonly v-model="product.EditTime">
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                        <button type="submit" class="btn btn-primary" data-dismiss="modal" id="Editbtn">編輯</button>@*onclick="EditProd(this)"*@
                    </div>
                </div>
            </form>
        </div>
    </div>


    <script>
        //建立Products datatable
        function selectProd() {
            $('#dataTable').DataTable({
                "searching": true,// 是否允许搜尋
                "paging": true,//啟用分頁
                "bAutoWidth": true,//自动计算每一列的宽度
                "pageLength": 5,//分頁的資料總筆數
                "destroy": true,//Cannot reinitialise DataTable,解决重新加载表格内容问题
                //"fixedHeader": true,
                //"scrollY": "200px",
                //"scrollCollapse": "true",
                "ajax": {
                    // url可以直接指定远程的json文件
                    //url: "api/Product/SelectProducts",
                    url: "/api/Product/SelectProducts",
                    type: 'Get',
                    dataType: 'json',
                    data: {},
                    // 传给服务器的数据，可以添加我们自己的查询参数
                    dataSrc: function (Prod) {
                        return Prod;
                    },
                    error: function () {
                        alert("ajax無法撈回資料");
                    },

                },
                "columnDefs": [
                    {
                        // targets用於指定操作的列，從第0列開始，-1爲最後一列，這裏第六列
                        // return後邊是我們希望在指定列填入的按鈕代碼
                        "targets": -1,
                        "render": function (data, type, full, meta) {
                            //return " <input type = 'button' id = 'testButton' value = '點擊我！'>";
                            return "<button type = 'button' id = 'DeleteProduct' class='btn btn-danger' data-toggle='modal' data-target='#DeleteModal'>刪除</button>"
                                + "<button type = 'button' id = 'EditProductBtn' class='btn btn-success my-2 mx-2' data-toggle='modal' data-target='#EditModal'>檢視/編輯</button>"
                        }
                    }
                ],
                "columns": [
                    { "title": '產品Id', "data": "Id" },
                    { "title": '產品名稱', "data": "ProductName" },
                    { "title": '產品種類', "data": "CategoryId" },
                    { "title": '產品單價', "data": "UnitPrice" },
                    { "title": '產品庫存', "data": "UnitsInStock" },
                    //{ "title": '產品簡述', "data": "Description" },
                    //{ "title": '產品材料', "data": "Materials" },
                    //{ "title": '熱量', "data": "Calories" },
                    //{ "title": '碳水化合物', "data": "Carbohydrate" },
                    //{ "title": '蛋白質', "data": "Protein" },
                    //{ "title": '脂肪', "data": "Fat" },
                    //{ "title": '飽和脂肪', "data": "SaturatedFat" },
                    //{ "title": '反式脂肪', "data": "TransFat" },
                    //{ "title": '糖', "data": "Sugar" },
                    //{ "title": '鈉', "data": "Sodium" },
                    {
                        "title": '產品圖片路徑', "data": "ImagePath", "render": function (data, type, full, meta) {
                            return "<img src = " + data + " width = 100 % />'"
                        }
                    },
                    //{ "title": '蛋奶素', "data": "IsOvolacto" },
                    { "title": '產品/種類是否還有提供', "data": "IsEnable" },
                    { "title": '邏輯刪除', "data": "IsDelete" },
                    { "title": '資料建立者', "data": "CreateUser" },
                    { "title": '資料建立時間', "data": "CreateTime" },
                    { "title": '資料編輯者', "data": "EditUser" },
                    { "title": '資料編輯時間', "data": "EditTime" },
                    { "title": '操作' }
                ],

            });
        }

        //var jsonObject = {};
        var jsonObject;
        var vm;
        //Vue Binding
        vm = new Vue({
            el: "#EditProduct",
            data: {
                product: {
                    "CategoryId": "",
                    "UnitPrice": "",
                    "UnitsInStock": "",
                    "Description": "",
                    "Materials": "",
                    "Calories": "",
                    "Carbohydrate": "",
                    "Protein": "",
                    "Fat": "",
                    "SaturatedFat": "",
                    "TransFat": "",
                    "Sugar": "",
                    "Sodium": "",
                    "ImagePath": "",
                    "IsOvolacto": false,
                    "IsEnable": false,
                    "Id": "",
                    "IsDelete": true,
                    "CreateUser": "",
                    "CreateTime": "",
                    "EditUser": null,
                    "EditTime": null
                }
            },
        });

        //畫面載入後
        $(document).ready(function () {
            selectProd();//建立datatable

            //Binding();

            //爲我們生成的按鈕綁定方法，這裏是彈出姓名和職業的對話框
            //刪除btn
            $("#dataTable tbody").on("click", "#DeleteProduct", function () {
                //獲取行
                var row = $("table#dataTable tr").index($(this).closest("tr"));
                //獲取某列（從0列開始計數）的值
                var Id = $("table#dataTable").find("tr").eq(row).find("td").eq(0).text();//Id
                //$("table#dataTable").find("tr").eq(row).find("td").eq(6).val(data.IsDelete);
                var offer = $("table#dataTable").find("tr").eq(row).find("td").eq(5);//是否提供
                var Delete = $("table#dataTable").find("tr").eq(row).find("td").eq(6).text();//是否刪除
                alert("產品Id: " + Id);

                //軟刪除
                $.get('/api/Product/DeleteConfirmed' + '/' + Id)
                    .done(function (data) {
                        alert("刪除成功")
                        console.log(data)
                        selectProd();
                    })
                    .fail(function (jqXHR, textStatus, err) {
                        alert(err);
                        //$('#product').text('Error: ' + err);
                    });
            });

            //編輯btn
            $("#dataTable tbody").on('click', '#EditProductBtn', function () {
                //獲取行
                var Edrow = $("table#dataTable tr").index($(this).closest("tr"));
                //獲取某列（從0列開始計數）的值
                var Id = $("table#dataTable").find("tr").eq(Edrow).find("td").eq(0).text();//Id
                var name = $("table#dataTable").find("tr").eq(Edrow).find("td").eq(1).text();//便當
                alert("Id: " + Id + name);

                //vue Binding
                //編輯 取得資料
                $.ajax({
                    url: '/api/Product/SelectOneProduct',
                    type: 'get', //請求方式，post/get。(預設為get)
                    data: {
                        id: Id
                    },
                    datatype: 'json',
                    success: function (data) {//成功時dosomething (程式只要可以執行成功)
                        jsonObject = data;
                        console.log(jsonObject);
                        globalThis.vm.product = jsonObject
                        console.log(globalThis.vm.product);

                        console.log(globalThis.vm.product.ImagePath);

                        //Binding();
                    },
                    fail: function (data) {//失敗時dosomething(程式爆掉)
                        alert("fail");
                    }
                });
            });
        });


        ///確定編輯
        let EdBtn = document.getElementById("Editbtn");
        EdBtn.addEventListener('click', function (e) {
            alert("進來了");
            //var prod = $('#EditForm').serialize();//表示將這個表單序列化

            var table = document.getElementById('dataTable');
            let prodjson = JSON.stringify(vm.product);

            //確定編輯
            $.ajax({
                url: '/api/Product/Edit',
                type: 'Post', //請求方式，post/get。(預設為get)
                contentType: 'application/json; charset=utf-8',//傳送資料格式
                data: prodjson,//prod,//id: EdId,
                datatype: 'json',
                success: function (data) {//成功時dosomething (程式只要可以執行成功)
                    alert("更新成功")
                    console.log(data);
                    selectProd();
                    //location.href = "/api/Product/SelectProducts";
                },
                fail: function (data) {//失敗時dosomething(程式爆掉)
                    alert("更新失敗");
                }
            });
        });


        //確定新增
        let AddBtn = document.getElementById("AddBtn");
        AddBtn.addEventListener('click', function () {
            alert("進來新增");
            var Addprod = $('#AddForm').serializeArray(); //表示將這個表單序列化
            //var form = $('#AddForm');
            let imagePreview = document.querySelector('#PreviewImage');//預覽圖片位置
            let url = imagePreview.src;

            //var form = document.querySelector('#AddForm');
            //var formData = new FormData($('form#AddForm').serialize());
            Addprod.push({ name: 'ImagePath', value: url });
            //formData.append('ImagePath', url);
            //確定新增
            $.ajax({
                url: '/api/Product/AddProduct',
                type: 'post', //請求方式，post/get。(預設為get)
                //contentType: 'multipart/form-data',//傳送資料格式
                //processData: false,
                //contentType: false,
                data: Addprod,//prod,//id: EdId,//Addprod
                datatype: 'json',
                success: function (data) {//成功時dosomething (程式只要可以執行成功)
                    alert(data)
                    selectProd();
                    //location.href = "/api/Product/SelectProducts";
                },
                fail: function (data) {//失敗時dosomething(程式爆掉)
                    alert("新增失敗");
                }
            });
        });


        //上傳照片 /新增
        let AddImageUpload = document.querySelector('#ImagePath');
        AddImageUpload.addEventListener('change', function (e) {
            let add = "Add";
            //新增
            var AddfileObj = document.querySelector('#ImagePath').files[0];
            ImgUpload(add, AddfileObj)
            
        })

        //上傳照片 /編輯
        let EdImageUpload = document.querySelector('#EdImagePath');
        AddImageUpload.addEventListener('change', function (e) {
            let Ed = "Edit";
            //編輯
            var EdfileObj = document.querySelector('#EdImagePath').files[0];
            ImgUpload(Ed, EdfileObj)

        })

        //API
        function ImgUpload(choice,file) {
            if (choice == "Add") {
                //新增
                function showPreviewImage(imgUrl) {
                    let imagePreview = document.querySelector('.ImgPreview');//預覽圖片位置
                    imagePreview.src = imgUrl;
                    alert(imgUrl);
                }
            } else {
                //編輯
                function showPreviewImage(imgUrl) {
                    let EdimagePreview = document.querySelector('#EdPreviewImage');//預覽圖片位置
                    EdimagePreview.src = imgUrl;
                    alert(imgUrl);
                }
            }
            

            //console.log(e.target.files);   #ImagePath
            //var file = document.querySelector('input[type=file]').files[0];
            
            //編輯
            //var file = document.querySelector('#EdImagePath').files[0];

            var rawdata = { "base64": "default" };

            if (file) {
                var reader = new FileReader();
                reader.readAsDataURL(file);
                reader.onload = function (e) {
                    rawdata.base64 = this.result.split(',')[1];
                }
            }

            setTimeout(function () {
                $.ajax({
                    url: "../api/Imgur/UploadAsync",
                    data: JSON.stringify(rawdata),
                    type: "POST",
                    contentType: 'application/json; charset=UTF-8',
                    dataType: "json",
                    success: function (res) {
                        showPreviewImage(res.imageUrl);
                        console.log(res.imageUrl);
                    },
                    error: function (err) {
                        alert(err.responseText);
                    }
                });
            }, 500);
        }













            ////建立產品 防呆用
            //$("#AddModal").on('click', '#Create', function () {
            //    //let prodAry = ["productName", "categoryId", "unitPrice", "InStock", "description", "materials"];
            //    let prodAry = ["productName", "isOvolacto", "isEnable", "isDelete"];
            //    //calories carbohydrate protein fat saturatedFat transFat sugar sodium imagePath isOvolacto isEnable isDelete createUser
            //    console.log(this);
            //    for (let i = 0; i < prodAry.length; i++) {
            //        let item = prodAry[i];
            //        alert(item);
            //        let val = document.querySelector('#AddProduct' + " ." + item).value;
            //        alert(val);
            //        if (val == null || val == 0) {
            //            alert("有欄位未填寫");
            //            return;
            //        }

            //    }
            //    //let Name = document.querySelector("#AddProduct .categoryId").value;
            //});

    </script>
</body>
</html>
